*{
    background-color: black;
    color: white;
}

.img-matteo{
    opacity: 0;
    transition: all .4s;
}

.active-matteo{
    opacity: 1 !important;
    transition: all .4s;
}

.title-lucas{
    text-align: center;
    color: red;
    text-decoration: underline;
}

#bloc-lucas{
    text-align: center;
}

.title-louis {
    color: blue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.second-title-louis {
    color: blue;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
.content-louis {
    text-align: center;
    color: white;
    height: auto;
    margin: auto;
    width: 75%;
}
.second-content-louis {
    text-align: center;
    color: white;
    height: auto;
    margin: auto;
    width: 75%;
}
.image-louis {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}