.title-louis {
    color: magenta;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.second-title-louis {
    color: orange;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content-louis {
    text-align: center;
    color: blue;
    height: auto;
    margin: auto;
    width: 75%;
}
.second-content-louis {
    text-align: center;
    color: crimson;
    height: auto;
    margin: auto;
    width: 75%;
}