*{
    background-color: black;
    color: white;
}

.img-matteo{
    opacity: 0;
    transition: all .4s;
}

.active-matteo{
    opacity: 1 !important;
    transition: all .4s;
}

.title-lucas{
    text-align: center;
    color: red;
    text-decoration: underline;
}

#bloc-lucas{
    text-align: center;
}